# Python
__pycache__/
*.py[co]
venv/

# npm
node_modules/
.cache/
*.map

# You'll want to ignore dist/. Uncomment the line blow.
# dist/

# Flask
*.db

# The only reason '.env' exists in this repo is to show its contents
# for the sake of this boilerplate. '.env' files should never be
# included in your repo, whether it's public or private.
#
# The line below should be uncommented.
# .env 
