html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  color: $link-color;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: 2rem;
}
