{% extends 'base.jinja' %}

{% block page_title %}About{% endblock %}

{% block page_description %}About Flask boilerplate{% endblock %}

{% block content %}

{{ super() }}

<h1>About</h1>

{% endblock %}
