{% extends 'base.jinja' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Flask boilerplate{% endblock %}

{% block content %}

{{ super() }}

<h1>Flask boilerplate!</h1>

{% endblock %}
