{% extends 'base.jinja' %}

{% block page_title %}Login{% endblock %}

{% block content %}

<form method="post" novalidate>
  <div>
    {{ form.login(placeholder=form.login.label.text) }}
  </div>
  <div>
    {{ form.password(placeholder=form.password.label.text) }}
  </div>
  <div>
    {{ form.remember_me }}
    {{ form.remember_me.label }}
  </div>
  <div>
    {{ form.submit }}
    {{ form.csrf_token }}
  </div>
</form>

<p>
  Not a member?
  <a href="{{ url_for('default.register') }}">Register</a>
</p>

{% endblock %}
