{% extends 'base.jinja' %}

{% block page_title %}Login{% endblock %}

{% block content %}

<form method="post" novalidate>
  <div>
    {{ form.login(placeholder='Email or username') }}
  </div>
  <div>
    {{ form.password(placeholder='Password') }}
  </div>
  <div>
    {{ form.remember_me }}
    <label for="remember_me">Remember me</label>
  </div>
  <div>
    {{ form.submit(value='Login') }}
    {{ form.csrf_token }}
  </div>
</form>

<p>
  Not a member?
  <a href="{{ url_for('default.register') }}">Register</a>
</p>

{% endblock %}
