{% extends 'base.jinja' %}

{% from 'macros/field_errors.jinja' import field_errors %}

{% block page_title %}Register{% endblock %}

{% block content %}

<form method="post" novalidate>
  <div>
    {{ form.email(placeholder='Email') }}
    {{ field_errors(form.email.errors) }}
  </div>
  <div>
    {{ form.username(placeholder='Username') }}
    {{ field_errors(form.username.errors) }}
  </div>
  <div>
    {{ form.password(placeholder='Password') }}
    {{ field_errors(form.password.errors) }}
  </div>
  <div>
    {{ form.submit(value='Register') }}
    {{ form.csrf_token }}
  </div>
</form>

<p>
  Already registered?
  <a href="{{ url_for('default.login') }}">Login</a>
</p>

{% endblock %}
